* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  background: #f7f9fa;
  color: #0E2A2B;
}

.container {
  width: 100%;
  max-width: 1200px;
  height:  100vh;
  margin: auto;
  padding: 1.2rem;
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}